/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jan, 2020, 1:58:59 PM
    Author     : jmteo
*/



section h2 {
    text-decoration: underline;
}

figure {
    display: inline-block;
}

figure img {
    vertical-align: top;
    padding: 2px;
    border: 2px solid #d3d3d3;
}

figure figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

footer {
    border-top: 3px solid #d3d3d3;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-style: italic;
    font-size: smaller;
}

nav a img {
    width: 24px;
    height: 24px;
}

.thumb-img {
    border: 2px solid #d3d3d3;
    padding: 2px;
    z-index: -1;
}

.thumb-big-img{
    z-index: 1;
    display: block;
    position: absolute;
    left: 25%;
    margin: 2px;
}

.thumb-big-img img{
    max-width: 100%;
    height: auto;
    border: 2px solid #d3d3d3;
}

.hide-img {
    display: none;
}